<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NhaXBCreateDlg" widgetVar="NhaXBCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateNhaXBTitle}">
            <h:form id="NhaXBCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{nhaXBController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateNhaXBLabel_maNXB}" for="maNXB" />
                        <p:inputText id="maNXB" value="#{nhaXBController.selected.maNXB}" title="#{bundle.CreateNhaXBTitle_maNXB}" required="true" requiredMessage="#{bundle.CreateNhaXBRequiredMessage_maNXB}"/>
                        <p:outputLabel value="#{bundle.CreateNhaXBLabel_tenNXB}" for="tenNXB" />
                        <p:inputText id="tenNXB" value="#{nhaXBController.selected.tenNXB}" title="#{bundle.CreateNhaXBTitle_tenNXB}" />
                        <p:outputLabel value="#{bundle.CreateNhaXBLabel_diachi}" for="diachi" />
                        <p:inputText id="diachi" value="#{nhaXBController.selected.diachi}" title="#{bundle.CreateNhaXBTitle_diachi}" />
                        <p:outputLabel value="#{bundle.CreateNhaXBLabel_sdt}" for="sdt" />
                        <p:inputText id="sdt" value="#{nhaXBController.selected.sdt}" title="#{bundle.CreateNhaXBTitle_sdt}" />
                        <p:outputLabel value="#{bundle.CreateNhaXBLabel_email}" for="email" />
                        <p:inputText id="email" value="#{nhaXBController.selected.email}" title="#{bundle.CreateNhaXBTitle_email}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{nhaXBController.create}" value="#{bundle.Save}" update="display,:NhaXBListForm:datalist,:growl" oncomplete="handleSubmit(args,'NhaXBCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="NhaXBCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
