<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Trang Chur</title>
    </h:head>
    <h:body>
                  <h:form id="SachListForm">
                <p:panel header="#{bundle.ListSachTitle}">
                    <p:dataTable id="datalist" value="#{sachController.items}" var="item"                               
                                 rowKey="#{item.maSach}"                                 
                                 >
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSachTitle_tensach}"/>
                            </f:facet>
                            <h:outputText value="#{item.tensach}"/>
                        </p:column>
                        <p:column>
                        <h:panelGrid >
    <p:commandButton value="Read" type="button" onclick="PF('dlg3').show();" />
</h:panelGrid>
                            <p:dialog header="#{item.tensach}" widgetVar="dlg3" showEffect="explode" hideEffect="bounce" height="100">
                                <h:outputText value="#{item.tomtat}" />
                                
</p:dialog>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
    </h:body>
</html>

