<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TacgiaViewDlg" widgetVar="TacgiaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTacgiaTitle}">
            <h:form id="TacgiaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tacgiaController.selected != null}">
                        <h:outputText value="#{bundle.ViewTacgiaLabel_maTG}"/>
                        <h:outputText value="#{tacgiaController.selected.maTG}" title="#{bundle.ViewTacgiaTitle_maTG}"/>
                        <h:outputText value="#{bundle.ViewTacgiaLabel_tentacgia}"/>
                        <h:outputText value="#{tacgiaController.selected.tentacgia}" title="#{bundle.ViewTacgiaTitle_tentacgia}"/>
                        <h:outputText value="#{bundle.ViewTacgiaLabel_diachi}"/>
                        <h:outputText value="#{tacgiaController.selected.diachi}" title="#{bundle.ViewTacgiaTitle_diachi}"/>
                        <h:outputText value="#{bundle.ViewTacgiaLabel_sdt}"/>
                        <h:outputText value="#{tacgiaController.selected.sdt}" title="#{bundle.ViewTacgiaTitle_sdt}"/>
                        <h:outputText value="#{bundle.ViewTacgiaLabel_email}"/>
                        <h:outputText value="#{tacgiaController.selected.email}" title="#{bundle.ViewTacgiaTitle_email}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TacgiaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
